<h2 class="text-center mt-4">Bem-vindo, Aluno!</h2>

<div class="text-center mt-3">
    <p>Aqui futuramente você pode acessar:</p>
    <ul class="list-unstyled">
        <li>✔ Notas</li>
        <li>✔ Boletim</li>
        <li>✔ Presenças</li>
        <li>✔ Comunicação com professor</li>
    </ul>
</div>

<div class="text-center mt-3">
    <a asp-action="Login" class="btn btn-secondary">Sair</a>
</div>
